body {
    font-family: "Raleway", serif; 
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

.photo-cart {
    width: 260px;
    height: 260px;
}

.cont-for-cart {
    display: flex;
    gap: 40px;
    margin: 25px;
}

.cont-for-text {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.cont-for-desc-del {
    width: 100%;
    display: flex;
    justify-content: space-between;
}